.hamburger {
    width: 40px;
    position: relative;
}

.active {
    padding: 2px 10px;
    background-color: #80cc1b;
    color: #fff;
    border-radius: 20px;
}

.hamburger,.hamburger::before, .hamburger::after {
    height: 4px;
    cursor: pointer;
    z-index: 500;
    background-color: #7d7d7d;
    display: inline-block;
    transition: transform 0.2s cubic-bezier(0.50,-0.05,0.60,0.53);
    border-radius: 1.5px;
}
.hamburger::before, .hamburger::after {
    content: "";
    width: 20px;
    position: absolute;
}

.hamburger::before {
    transform: translateY(-10px);
    transform-origin: right;
    -o-transform-origin: right;
    -webkit-transform-origin: right;
}
.hamburger::after {
    transform: translateY(10px);
    right: 0;
    transform-origin: left;
    -o-transform-origin: left;
    -webkit-transform-origin: left;
}

.hamburger.active2::before{
    transform: translate(0) rotate(90deg);
}
.hamburger.active2::after{
    transform: translate(0) rotate(90deg);
}
.hamburger.active2{
    transform: translate(0) rotate(45deg);
}


